@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$transition: all 350ms;
$gray: #334155;
$white: #ffffff;
$ultra-light-gray: #f1f5f9;
$blue-background: #6b9dd4;
$small: "max-width: 575px";
$mobile: "min-width: 576px";
$tablet: "min-width: 768px";
$desktop: "min-width: 992px";
$desltop-large: "min-width: 1200px";
$desktop-xlarge: "min-width: 1400px";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: $blue-background;

  .header {
    background: $blue-background;
    box-shadow: 0 0 6px #47556990;
    height: 64px;
    padding: 6px 0;
    width: 100vw;
    transition: $transition;
    z-index: 100;

    &.nav-menu-opened {
      background: $gray;
      box-shadow: none;
      z-index: 100 !important;

      .container {
        .logo {
          svg {
            .cls-1 {
              fill: #ffffff;
            }
          }
        }
      }
    }

    .container {
      display: flex;
      height: 100%;
      justify-content: space-between;
      width: 100%;

      .nav-button-box {
        .nav-button {
          height: 100%;
          width: 35px;
          background: none;
          border: none;
          display: flex;
          padding: 0;
          outline: none;
          justify-self: center;
          z-index: 200;

          &:focus {
            background-color: transparent;
            outline: none;
          }

          svg {
            height: 100%;
            .line {
              fill: none;
              stroke: $gray;
              stroke-width: 7.5;
              transition: $transition cubic-bezier(0.4, 0, 0.2, 1),
                $transition cubic-bezier(0.4, 0, 0.2, 1);
            }

            .line1 {
              stroke-dasharray: 60 207;
              stroke-width: 7.5;
              stroke-linecap: round;
            }

            .line2 {
              stroke-dasharray: 60 60;
              stroke-width: 7.5;
              stroke-linecap: round;
            }

            .line3 {
              stroke-dasharray: 60 207;
              stroke-width: 7.5;
              stroke-linecap: round;
            }
          }

          &.opened .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 7.5.5;
            stroke: $white;
          }

          &.opened .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke: $white;
          }

          &.opened .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke: $white;
          }
        }

        @media ($tablet) {
          display: none;
        }
      }

      .logo {
        display: flex;
        height: 100%;
        justify-content: center;

        a {
          display: flex;
          height: 100%;
          justify-content: center;

          svg {
            height: 100%;

            .cls-1 {
              transition: $transition;
            }
          }
        }

        @media ($tablet) {
          justify-content: flex-start;

          a {
            justify-content: flex-start;
          }
        }
      }

      .nav-menu {
        align-items: center;
        background: $gray;
        border-radius: 0 0 10px 10px;
        display: flex;
        height: 300px;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 64px;
        z-index: -1;
        transition: $transition;
        transform: translateY(-100%);
        opacity: 0;

        .nav-list {
          list-style: none;

          .nav-element {
            font-weight: 500;
            margin-bottom: 30px;
            text-align: center;

            &:last-child {
              margin: 0;
            }

            a {
              color: $white;
              font-size: 1.3em;
              text-decoration: none;
            }
          }
        }

        &.is-shown {
          opacity: 1;
          z-index: -1;
          transform: translateY(0);
          transition: $transition;
        }

        @media ($tablet) {
          &,
          &.is-shown {
            background: transparent;
            border-radius: 0;
            position: relative;
            opacity: 1;
            z-index: 10000;
            transform: translateY(0);
            height: 100%;
            top: 0;

            .nav-list {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              .nav-element {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .aux {
        @media ($tablet) {
          display: none;
        }
      }
    }
  }
}
